.app {
  max-height: 100vh;
  min-height: 100vh;
  border: 1px solid #484D6D;
  overflow: scroll;
  color: #30344F;
  background-color: #EFF0F7;
}

h3 {
  text-shadow: 0 0 .5px #484D6D ;
}

.content {
  height: 100%;
}

.note {
  overflow: hidden;
  height: 100px;
}

textarea.form-control {
  height: 100%;
  border: none;
  resize: none;
  color: #484D6D;
}

.bignote, .form-control {
  background-color: #D3D5E4;
}

.bignote {
  border-left: 1px solid #8A8DA2;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  background-color: #D3D5E4;
}

.topbar {
  border-bottom: 1px solid #8A8DA2;
}

button {
  background-color: #484D6D;
  color: #DFE2F4;
}